<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= blog.title %></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h2>JackYang正在赶来的路上:</h2><br/><h2> <%= error.message %></h2>
    <p><%= error.stack %></p>/
  </body>
</html>